/* RESET CSS */
*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/* ROOT */
:root {
	--fucsia: #e53170;
	--black: #000;
	--white: #fff;		
}

/* GENERAL */
body {
    font-family: 'Fredoka', sans-serif;
}

header{
	padding-bottom: 2rem;
	padding-top: 2rem;
}

h1 {
	color: var(--fucsia);
	text-align: center;
	font-weight: bolder;
	padding-top: 1rem;
}

h3 {
	text-align: center;
	font-size: 0.75rem;
	font-weight: 300;
	padding-top: 1rem;
}

img {
	float: left;
	height: 100px;
}

p {
	text-align: left;
}

a{
	text-align: left;
	text-decoration: none;
	font-size: 0.75rem;
	display: block;
	color: #62c3e3;
}


/*MAIN*/
.container {
	max-width: 1000px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.card {
	float: left;
	background-color: var(--black);
	color: var(--white);
	text-align: center;
	width: calc(100% / 3 - 1rem);
	height: 100px;
	margin: 0.5rem 0.5rem;
}

.nome{
	text-transform: uppercase;
	font-weight: bold;
}

.ruolo{
	font-size: 0.75rem;
}

.text {
	margin-top: 1.5rem;
	margin-left: 7rem;
}
